.home-list {
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top: calc(2rem + 16px);
}

a {text-decoration: none; color: #000000;}

.add-float {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    border: 0.5px #d7d7d7 solid;
    background-color: #ffffff;
    color: #aaaaaa;
    margin: 16px;
}

.add-float > .add-icon {
    display: flex;
    background-color: #d7d7d7;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #777777;
    margin-bottom: 4px;
    font-size:2rem;
    font-weight: bold;
}

.add-float > p {
    padding:0;
    margin:0;
    font-size: 0.8rem;
    color: #000000;
}

.list-item {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 8px #d7d7d7;
    margin: 8px 16px;
    border: 0.5px solid #e7e7e7;
    border-radius: 12px;
    overflow: hidden;
    height: 240px;
    display: flex;
    flex-direction: column;
    
}

.item-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: blur(4px)
}
.item-content { 
    padding: 0px 12px;
    color: #ffffff;
    z-index: 2;
}

.item-content > .item-title {
    font-size: 1.2rem;
    margin:4px 0;
    font-weight: bold;
}
.item-content > .item-company-size {
    float: right;
    font-size: 0.85rem;
   
}