input { border: 0; border-bottom: 0.5px solid #000000}

.request-content {
    margin-top: calc(2rem + 16px);
}

.request-content > .description-content {
    padding: 24px;
    display:flex;
    flex-direction: column;
}

.description-content > .title {
    border: 0;
    font-size: 1.5rem;
    padding: 8px 0;
    border-bottom: 0.5px solid #000000;
}

.description-content > .vr-image {
    background-color: #d7d7d7;
    height: 120px;
}

.request-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.request-list-header > .add-list {
    outline: 0;
    background-color: #d7d7d7;
    border: 0;
    color: #777777;
}