input { border: 0; border-bottom: 0.5px solid #000000}

.request-content {
    margin-top: calc(2rem + 16px);
}

.request-content > .description-content {
    padding: 24px;
    display:flex;
    flex-direction: column;
}

.description-content > .title {
    border: 0;
    font-size: 1.5rem;
    margin: 16px 0;
    border-bottom: 0.5px solid #000000;
}

.description-content > .place-content {
    margin: 12px 0 32px 0;
    display: flex;
    justify-content: space-between;
}

.place-content > .place {
    flex: 1;
    margin-left: 16px;
}

.description-content > .vr-image {
    background-color: #d7d7d7;
    height: 120px;
    margin: 12px 0;
}

.request-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.request-list-header > .add-list {
    outline: 0;
    background-color: #d7d7d7;
    border: 0;
    color: #777777;
    padding: 8px;
    font-weight: bold;
}

.request-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 8px #b7b7b7;
    padding: 16px 12px;
    margin: 16px 0;
    overflow: hidden;
    border-radius: 8px;
}

.assist-img {
    width: 50px;
    height: 50px;
    background-color: #d7d7d7;
    color: #777777;
    outline: 0;
    border: 0;
}